#nav {
    ul {
        float     : none;
        display   : block;
        margin    : 0;
        width     : auto;
        opacity   : 0;
        max-height: 0;
        background: #fff;
        overflow  : hidden;
        transition: all 0.55s cubic-bezier(0.4, 0, 0.2, 1);
        top       : 1px;
        border    : 0;
        position  : relative;
        &.abt-dropdown {
            height: 100%;
            &.active {
                max-height: 1000px;
                opacity   : 1;
            }
        }
    }
}
#menutggle {
    height   : 17px;
    width    : 22px;
    display  : block;
    position : absolute;
    right    : 0;
    cursor   : pointer;
    top      : 50%;
    transform: translateY(-50%);
    span {
        display         : block;
        height          : 3px;
        width           : 100%;
        position        : absolute;
        background-color: #333;
        transition      : 0.1s all cubic-bezier(0.4,0,0.2,1);
        transform       : rotate(0deg);
        &:nth-of-type(1) {
            top: 0;
        }
        &:nth-of-type(2) {
            top: calc(100% - 10px);
        }
        &:nth-last-of-type(1) {
            bottom: 0;
        }
    }
    &.active {
        span {
            &:nth-of-type(1) {
                top              : 50%;
                left             : 50%;
                transform        : rotate(45deg) translate(-50%, -50%);
                animation        : turnx1 0.3s cubic-bezier(0.4,0,0.2,1);
                -webkit-animation: turnx1 0.3s cubic-bezier(0.4,0,0.2,1);
            }
            &:nth-of-type(2) {
                transform        : rotate(-45deg) translateY(-50%);
                top              : 50%;
                left             : 50%;
                animation        : turnx2 0.3s cubic-bezier(0.4,0,0.2,1);
                -webkit-animation: turnx2 0.3s cubic-bezier(0.4,0,0.2,1);
            }
        }
    }
}
@keyframes turnx1 {
    0% {
        top      : 0;
        left     : 0;
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100% {
        top      : 50%;
        left     : 50%;
        transform: rotate(45deg) translate(-50%, -50%);
    }
}
@keyframes turnx2 {
    0% {
        top      : 0;
        left     : 0;
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100% {
        top      : 50%;
        left     : 50%;
        transform: rotate(-45deg) translate(-50%, -50%);
    }
}